main{
  max-width: 1450px;
  margin: 5rem;
  margin-top: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em
} 
.menu_link{ 
  text-decoration: none;
  color: white;}
.luken{
  grid-area: luken;
}
.major{
  grid-area: major;
}
.nqz{
  grid-area: nqz;
}

.container{

display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-template-areas: "major nqz"
                       " luken nqz"
                        "luken victoria";
grid-row-gap: 5px;
grid-column-gap: 10px; 
justify-items: end;
}
.major img{
width: 500px;}
.major iframe{
width: 400px;
height: 300px;}
.img9z{
grid-area: img9z;
}
.vid9z{
grid-area: vid9z;
}
.noticia1{ 
grid-area: noticia1; }

.major{
background-color: rgb(252, 252, 252);
border: rgb(161, 104, 161) 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr  ;
  grid-template-areas: "vid9z img9z"
                        "noticia1 noticia1";
  grid-row-gap: 10px;
 grid-column-gap: 10px; 
 height: 410px;
 width: 950px; 
 padding: 1rem

     
}
.luken img{width: 250px;
           height: 300px;}
      .noticia2{
          grid-area: noticia2;
      }
      .imgluken1{
          grid-area: imgluken1 ;
      }
      .imgluken2{
          grid-area: imgluken2;
      }   
.luken{
  background-color: rgb(249, 249, 249);
  border: rgb(161, 104, 161) 1px solid;
  display: flex;
  justify-content: space-evenly;
  height: 430px;
 width: 950px;
 align-items: center;
 padding: 1rem
 }
 .imgnqz{
  width:250px ;
  
  grid-area: imgnqz;
 }
 .noticia3{
  grid-area: noticia3;
 } 

 .nqz{ background-color: rgb(252, 252, 252);
  border: rgb(161, 104, 161) 1px solid;
    display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
   }
 
  
   .victoria:hover 
   {filter: opacity(.5);} 
   
  .victoria{
    
    height:380px ;
    width: 350px;
    border: rgb(161, 104, 161) 1px solid;
     }
 
                  
     footer{
      border: rgb(161, 104, 161) 1px solid;
      color: aliceblue;
      background-color:black;
      padding: 2rem;
      margin: 0.5rem;
      text-align: center;
      list-style: none;
      display: flex;
      justify-content: space-around;
      }
      .carousel-inner img {
       width : 50%;
        max-height: 500px;
    }
    
    .carousel-inner{
     height: 500px;
     width: 700px;
    }
    

  /* MOBILE */

  @media only screen and (max-width: 480px){
    

             .luken{
                grid-area: luken;
              }
              .major{
                grid-area: major;
              }
              .nqz{
                grid-area: nqz;
              }
              .victoria{
                width: 205px;
                height:270px ;
                grid-template-areas: victoria;
              }
        
            .container{
             
        
              display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr ;
                grid-template-areas: "major major"
                                    "victoria nqz"
                                    "luken luken"; 
                align-items: center;                  }
   .major img{
              width: 200px;
            height: 180px;}
          .major iframe{
              width: 180px;
              height: 180px;
          }
          .img9z{
              grid-area: img9z;
          }
         .vid9z{
          grid-area: vid9z;
         }
         .noticia1{ 
          grid-area: noticia1; }
      
          .major{
           
            display:grid;
          grid-template-columns: 1fr ;
          grid-template-rows: 50% ;
           grid-template-areas: 
                         "img9z vid9z"
                         "noticia1 noticia1";
              grid-row-gap: 1px;
              grid-column-gap: 1px;
               width: 425px; 
              
              font-size: 1.1em;
         
          }
      .luken img{width: 120px;
                 height: 130px;}
 

      .luken{
        display: flex;
        justify-content: space-between;
         align-items: center;
           height: 310px;
          width: 425px; 
          justify-items: left;
          margin-top: 0.5rem;
          padding: 1rem;

          
           }
           .imgnqz{
            width:120px ;
            grid-area: imgnqz;
           }
           .nqz{
            height: 270px;
            width: 200px; 
            justify-items: center ;
            padding: 1rem;
           }




           .footer{    
             color: aliceblue;
              background-color:black;
              text-align: center;
              list-style: none;
              display: flex;
              justify-content: space-around;
              font-size: 0.8em;}

           }
     /* TABLET */
   
  @media only screen and (max-width: 768px){
      .footer{    
      color: aliceblue;
       background-color:black;
       text-align: center;
       list-style: none;
       display: flex;
       justify-content: space-around;
       font-size: 1em;
      padding: 2rem;}
       

       
       .luken{
        grid-area: luken;
      }
      .major{
        grid-area: major;
      }
      .nqz{
        grid-area: nqz;
      }
      .victoria{
        width: 205px;
        height:270px ;
        grid-template-areas: victoria;
      }

    .container{
     

      display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-template-areas: "major major"
                            "victoria nqz"
                            "luken luken"; 
        align-items: center;                  }
.major img{
      width: 260px;
    height: 200px;}
  .major iframe{
      width: 260px;
      height: 200px;
  }
  .img9z{
      grid-area: img9z;
  }
 .vid9z{
  grid-area: vid9z;
 }
 .noticia1{ 
  grid-area: noticia1; }

  .major{
   
    display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 50% ;
   grid-template-areas: 
                 "img9z vid9z"
                 "noticia1 noticia1";
      grid-row-gap: 1px;
      grid-column-gap: 1px;
       width: 600px; 
       height: 430px;
       font-size: 1em;
       padding: 1rem;
      
 
  }
.luken img{width: 120px;
         height: 130px;}


.luken{
display: flex;
justify-content: space-between;
 align-items: center;
   height: 310px;
  width: 600px; 
  justify-items: left;
  margin-top: 0.5rem;
  padding: 1rem;

  
   }
   .imgnqz{
    width:120px ;
    grid-area: imgnqz;
   }
   .nqz{
    height: 290px;
    width: 300px; 
    justify-items: center ;
    padding: 1rem;
      }   
.victoria{
  height: 290px; 
  width: 290px;
}

}
       
  
   /* INFORMACION */




   @media only screen and (max-width: 480px){
      .menu{
          font-family: 'Times New Roman', Times, serif;
          font-size: 0.8em;
          margin: 1rem;
          display: flex ;
          list-style: none;
          justify-content: space-around ; 
          align-items: center;} 

          main{
             margin: 2rem;
              margin-top: 3rem;
              font-family: 'Times New Roman', Times, serif;
              font-size: 0.80em; 

               }



.titulo1{
  grid-area: titulo1;
}
.titulo2{
  grid-area: titulo2;

}
.informacion{
  grid-area: informacion;
}
.creacion{
  grid-area: creacion;

}
.imgfran1{
  grid-area: imgfran1;
  
}
.imgfran2{
  grid-area: imgfran2;
}
.fran{
  background-color: rgb(252, 252, 252);
  border: rgb(161, 104, 161) 1px solid;
  display: grid;
  grid-template-areas: "imgfran1 imgfran2";
  align-items: center; 
  grid-row-gap: 5px;
  grid-column-gap: 10px;
}
        
.carousel-inner img {
  width : 50%;
   max-height: 500px;
}

.carousel-inner{
height: 500px;
width: 400px;
}
                  
footer{
border: rgb(161, 104, 161) 1px solid;
color: aliceblue;
background-color:black;
padding: 2rem;
margin: 0.5rem;
text-align: center;
list-style: none;
display: flex;
justify-content: space-around;
}
}