.articulofran {
  margin: 1rem; }

.carousel-inner {
  height: 500px;
  width: 700px; }
  .carousel-inner img {
    width: 50%;
    max-height: 500px; }

@media only screen and (max-width: 480px) {
  main {
    background-color: black;
    font-size: 0.9em; }
  .carousel-inner {
    height: 500px;
    width: 400px; }
    .carousel-inner img {
      width: 50%;
      max-height: 500px; } }

.info {
  max-width: 1200px;
  margin: 5rem;
  margin-top: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  display: grid;
  grid-template-areas: "card1 card2" "card3  card4";
  grid-row-gap: 7px;
  grid-column-gap: 40px; }
  .info .card1 {
    grid-template-areas: card1; }
  .info .card2 {
    grid-template-areas: card2; }
  .info .card3 {
    grid-template-areas: card3; }
  .info .card4 {
    grid-template-areas: card4; }
  .info .card5 {
    grid-template-areas: card5; }

.card {
  border-color: #783F8E; }

@media only screen and (max-width: 480px) {
  .info {
    display: grid;
    grid-template-areas: "card1 " "card2" "card3" "card4"; }
    .info .card1 {
      grid-template-areas: card1; }
    .info .card2 {
      grid-template-areas: card2; }
    .info .card3 {
      grid-template-areas: card3; }
    .info .card4 {
      grid-template-areas: card4; }
    .info .card5 {
      grid-template-areas: card5; } }

.redes {
  display: flex;
  justify-content: space-between;
  margin: 8.5rem; }

.tituloredes {
  color: aliceblue;
  margin-left: 7rem;
  font-family: "Times New Roman", Times, serif; }

.redesimg {
  height: 350px;
  width: 350px; }

/* MOBILE */
@media only screen and (max-width: 480px) {
  .redes {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .tituloredes {
    margin-left: 0rem; }
  .redesimg {
    height: 100px;
    width: 100px; } }

footer {
  border: #783F8E solid;
  background-color: black;
  padding: 2rem;
  margin: 0.5rem;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around; }

@media only screen and (max-width: 480px) {
  .footer {
    font-size: 0.9em; } }

* {
  margin: 0px;
  padding: 0px; }
  * body {
    background-image: url(../imagenes/fondo2.png);
    background-position: center;
    background-size: cover; }
  * li {
    padding-left: 20px;
    padding-right: 20px; }

.main1 {
  margin-top: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  color: aliceblue;
  align-items: center; }

.menu_link {
  text-decoration: none;
  color: aliceblue; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "major nqz" " luken nqz" "luken victoria";
  grid-row-gap: 3px;
  grid-column-gap: 5px;
  justify-items: end; }
  .container .luken {
    grid-area: luken; }
  .container .major {
    grid-area: major; }
  .container .nqz {
    grid-area: nqz; }

.major img {
  height: 250px;
  width: 450px; }

.major iframe {
  height: 250px;
  width: 450px; }

.major {
  border: #783F8E solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "vid9z img9z" "noticia1 noticia1";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 410px;
  width: 950px;
  padding: 1rem; }
  .major .img9z {
    grid-area: img9z; }
  .major .vid9z {
    grid-area: vid9z; }
  .major .noticia1 {
    grid-area: noticia1;
    background-color: black; }

.luken {
  border: #783F8E solid;
  display: flex;
  justify-content: space-evenly;
  height: 430px;
  width: 950px;
  align-items: center;
  padding: 1rem; }
  .luken img {
    width: 250px;
    height: 300px; }
  .luken .noticia2 {
    grid-area: noticia2;
    background-color: black; }
  .luken .imgluken1 {
    grid-area: imgluken1; }
  .luken .imgluken2 {
    grid-area: imgluken2; }

.nqz {
  border: #783F8E solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }
  .nqz .imgnqz {
    width: 250px;
    grid-area: imgnqz; }
  .nqz .noticia3 {
    grid-area: noticia3;
    background-color: black; }

.victoria {
  height: 350px;
  width: 380px;
  border: #783F8E solid; }
  .victoria:hover {
    filter: opacity(0.5); }

/* MOBILE */
@media only screen and (max-width: 480px) {
  .victoria {
    height: 270px;
    width: 195px;
    grid-template-areas: victoria; }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "major major" "victoria nqz" "luken luken";
    align-items: center; }
    .container .luken {
      grid-area: luken; }
    .container .major {
      grid-area: major; }
    .container .nqz {
      grid-area: nqz; }
  .major img {
    height: 200px;
    width: 180px; }
  .major iframe {
    height: 200px;
    width: 180px; }
  .major {
    width: 425px;
    font-size: 1em; }
  .luken img {
    height: 130px;
    width: 120px; }
  .luken {
    height: 340px;
    width: 425px;
    margin-top: 0.3rem;
    padding: 1rem;
    font-size: 0.9em; }
  .nqz {
    height: 270px;
    width: 200px;
    justify-items: center;
    padding: 1rem; }
    .nqz .imgnqz {
      height: 110px;
      width: 110px;
      grid-area: imgnqz; } }
