*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  
}
body{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  background-color: rgb(2, 3, 3);
  display: flex;
  margin: 1rem;
  height: 104px;
  justify-content:space-around;
  border: rgb(161, 104, 161) 1px solid;
  

}


.menu{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin: 2rem;
  display: flex ;
  list-style: none;
  justify-content: space-around ; 
  width: 70vw;
  align-items: flex-end;
  
 

}

  
   
main{
      max-width: 1450px;
      margin: 5rem;
      margin-top: 1rem;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1em
  } 

  .menu_link{ 
    text-decoration: none;
    color: white;}

    .luken{
      grid-area: luken;
    }
    .major{
      grid-area: major;
    }
    .nqz{
      grid-area: nqz;
    }

  .container{
   
    display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr ;
      grid-template-areas: "major nqz"
                           " luken nqz"
                            "luken victoria";
    grid-row-gap: 5px;
    grid-column-gap: 10px; 
    justify-items: end;
  }
  .major img{
    width: 500px;}
.major iframe{
    width: 400px;
    height: 300px;}
  .img9z{
    grid-area: img9z;
   }
 .vid9z{
  grid-area: vid9z;
   }
  .noticia1{ 
grid-area: noticia1; }
  
  .major{
    background-color: rgb(252, 252, 252);
    border: rgb(161, 104, 161) 1px solid;
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr  ;
      grid-template-areas: "vid9z img9z"
                            "noticia1 noticia1";
      grid-row-gap: 10px;
     grid-column-gap: 10px; 
     height: 400px;
     width: 950px; 
     padding: 1rem
    
         
   }
   .luken img{width: 250px;
               height: 300px;}
          .noticia2{
              grid-area: noticia2;
          }
          .imgluken1{
              grid-area: imgluken1 ;
          }
          .imgluken2{
              grid-area: imgluken2;
          }   
    .luken{
      background-color: rgb(249, 249, 249);
      border: rgb(161, 104, 161) 1px solid;
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr ;
      grid-template-areas: "noticia2 noticia2"
                            "imgluken1 imgluken2";
       margin-top: 3rem;
     grid-row-gap: 10px;
     grid-column-gap: 10px; 
     height: 430px;
     width: 950px;
     justify-items: center ;
     padding: 1rem
     }
     .imgnqz{
      width:250px ;
      
      grid-area: imgnqz;
     }
     .noticia3{
      grid-area: noticia3;
     } 

     .nqz{ background-color: rgb(252, 252, 252);
      border: rgb(161, 104, 161) 1px solid;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr  ;
        grid-template-areas:"noticia3 "
                             "imgnqz"
                            ;
        grid-row-gap: 10px;
       grid-column-gap: 10px; 
       height: 400px;
       width: 350px; 
       justify-items: center ;
       padding: 1rem;
       }
     
      
       .victoria:hover 
       {filter: opacity(.5);} 
       
      .victoria{
        
        height:380px ;
        width: 350px;
        border: rgb(161, 104, 161) 1px solid;
         }
     


      /* MOBILE */

      @media only screen and (max-width: 480px){
          .menu{
              font-family: 'Times New Roman', Times, serif;
              font-size: 0.8em;
              margin: 1rem;
              display: flex ;
              list-style: none;
              justify-content: space-around ; 
              align-items: center;} 



             .luken{
                    grid-area: luken;
                  }
                  .major{
                    grid-area: major;
                  }
                  .nqz{
                    grid-area: nqz;
                  }
                  .victoria{
                    width: 205px;
                    height:270px ;
                    grid-template-areas: victoria;
                  }
            
                .container{
                  margin-top: 0%;
            
                  display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr ;
                    grid-template-areas: "major major"
                                        "victoria nqz"
                                        "luken luken" }
       .major img{
                  width: 180px;}
              .major iframe{
                  width: 180px;
                  height: 110px;
              }
              .img9z{
                  grid-area: img9z;
              }
             .vid9z{
              grid-area: vid9z;
             }
             .noticia1{ 
              grid-area: noticia1; }
          
              .major{
               
                display:grid;
              grid-template-columns: 1fr ;
              grid-template-rows: 50% ;
               grid-template-areas: 
                             "img9z vid9z"
                             "noticia1 noticia1";
                  grid-row-gap: 5px;
                  grid-column-gap: 2px;
                  height: 250px;
                  width: 425px; 
              
              }
          .luken img{width: 120px;
                     height: 130px;}
          .noticia2{
              grid-area: noticia2;
          }
          .imgluken1{
              grid-area: imgluken1 ;
          }
          .imgluken2{
              grid-area: imgluken2;
          }   

          .luken{
              display: grid;
              grid-template-columns: 1fr ;
              grid-template-rows: 50%;
              grid-template-areas:"noticia2 noticia2"
                                 "imgluken1 imgluken2";
              
              height: 300px;
              width: 425px; 
              justify-items: left;
              margin-top: 0rem;

              
               }
               .imgnqz{
                width:140px ;
                grid-area: imgnqz;
               }
               .nqz{
                height: 270px;
                width: 200px; 
                justify-items: center ;
                padding: 1rem;
               }




               .footer{    
                 color: aliceblue;
                  background-color:black;
                  text-align: center;
                  list-style: none;
                  display: flex;
                  justify-content: space-around;
                  font-size: 0.8em;
                 
                  
               }
          
       }

       /* INFORMACION */




       @media only screen and (max-width: 480px){
          .menu{
              font-family: 'Times New Roman', Times, serif;
              font-size: 0.8em;
              margin: 1rem;
              display: flex ;
              list-style: none;
              justify-content: space-around ; 
              align-items: center;} 

              main{
                 margin: 2rem;
                  margin-top: 3rem;
                  font-family: 'Times New Roman', Times, serif;
                  font-size: 0.80em; 

                   }


    .fran img{
      width: 150px;
    }

    .titulo1{
      grid-area: titulo1;
    }
    .titulo2{
      grid-area: titulo2;

    }
    .informacion{
      grid-area: informacion;
    }
    .creacion{
      grid-area: creacion;

    }
    .imgfran1{
      grid-area: imgfran1;
    }
    .imgfran2{
      grid-area: imgfran2;
    }
    .fran{
      background-color: rgb(252, 252, 252);
      border: rgb(161, 104, 161) 1px solid;
      display: grid;
      grid-template-areas: "imgfran1 imgfran2";
      align-items: center; 
      grid-row-gap: 5px;
      grid-column-gap: 10px;
    }
            
      }
                      
       

      
       



  
  footer{
  border: rgb(161, 104, 161) 1px solid;
  color: aliceblue;
  background-color:black;
  padding: 2rem;
  margin: 0.5rem;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
