@import "variables";
@import "views/highlights";
@import "views/informacion";
@import "views/jugadores";
@import "views/redes";
@import "layout/footer";


*{
  margin: 0px;
  padding: 0px;



  body{
    background-image: url(../imagenes/fondo2.png);
    background-position: center;
  background-size: cover;
  
  }
  
  li{
    padding-left:20px;
    padding-right:20px;
  }
}
.main1{

  margin-top: 1rem;
  font-family: $font;
  font-size: $size;
   color:$font-color;
  align-items: center;}


.menu_link{ 
  text-decoration: none;
  color: $font-color;}

  .container{
    & .luken{
      grid-area: luken;
    }
    .major{
      grid-area: major;
    }
    .nqz{
      grid-area: nqz;
    }
  
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "major nqz"
                         " luken nqz"
                          "luken victoria";
  grid-row-gap: 3px;
  grid-column-gap: 5px; 
  justify-items: end;
  } 



  @mixin sizes( $widht, $height) {
    height: $height;
    width: $widht;
  }
.major img{  @include sizes (450px,250px)}

.major iframe{ @include sizes (450px,250px)}

.major{
  & 
    .img9z{
    grid-area: img9z;
    }
    .vid9z{
    grid-area: vid9z;
    }
    .noticia1{ 
    grid-area: noticia1;
    background-color: $color-texto;
     }
    
     border: $color-borde;
    display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr  ;
  grid-template-areas: "vid9z img9z"
                        "noticia1 noticia1";
 grid-row-gap: 10px;
 grid-column-gap: 10px; 
 height: 410px;
 width: 950px; 
 padding: 1rem

     
}
     
.luken{
  & img{width: 250px;
    height: 300px;}

  & .noticia2{
    grid-area: noticia2;
    background-color: $color-texto
 
}
.imgluken1{
    grid-area: imgluken1 ;
}
.imgluken2{
    grid-area: imgluken2;
}   
  border:$color-borde;
  display: flex;
  justify-content: space-evenly;
  
  height: 430px;
 width: 950px;
 align-items: center;
 padding: 1rem
 }

 .nqz{ 
  &  .imgnqz{
    width:250px ;
    
    grid-area: imgnqz;
   }
   .noticia3{
    grid-area: noticia3;
    background-color: $color-texto
   } 
  border: $color-borde;
    display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
   }
 
   .victoria{
    
    @include sizes(380px,350px );
    border: $color-borde;
    &:hover{filter: opacity(.5);}
     }
 
 /* MOBILE */

  @media only screen and (max-width: 480px){
               .victoria{
                @include sizes(195px,270px );
                grid-template-areas: victoria;
              }
        
            .container{
              margin-left: -1rem;
              &  .luken{
                grid-area: luken;
              }
              .major{
                grid-area: major;
              }
              .nqz{
                grid-area: nqz;
              }
               display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr ;
                grid-template-areas: "major major"
                                    "victoria nqz"
                                    "luken luken"; 
   align-items: center;  }
          
   
   
   @mixin sizes( $widht, $height) {
    height: $height;
    width: $widht; }
   
.major img{@include sizes(180px,200px )}
           
  .major iframe{ @include sizes(180px,200px ) }
        
 .major{
  width: 425px; 
  font-size: $size; }
  
  .luken img{@include sizes(120px,130px )}
    
  .luken{
   height: 340px;
  width: 425px; 
   margin-top: 0.3rem;
  padding: 1rem;
  font-size:$font-small;
  }
.nqz{
  & .imgnqz{
  @include sizes(110px,110px );
  grid-area: imgnqz;}
  @include sizes(200px,270px );
   justify-items: center ;
  padding: 1rem;} }

   
   


      
    


