*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(206, 162, 246);
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgb(2, 3, 3);
    display: flex;
    margin: 1rem;
    height: 104px;
    justify-content:space-around 
    

}


.menu{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 2rem;
    display: flex ;
    list-style: none;
    justify-content: space-around ; 
    width: 70vw;
    align-items: flex-end

}
.menu_link{ 
    text-decoration: none;
    color: white;}
     
main{
        max-width: 1300px;
        margin: 0 auto;
        margin-top: 3rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.1em;
    }
    
    
    .major{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
        align-items: center
      }
      .luken{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
        align-items: center;
        margin: 0 auto;
        margin-top: 3rem; }


        /* MOBILE */

        @media only screen and (max-width: 480px){
            .menu{
                font-family: 'Times New Roman', Times, serif;
                font-size: 0.8em;
                margin: 1rem;
                display: flex ;
                list-style: none;
                justify-content: space-around ; 
                align-items: center;} 

                main{
                   margin: 2rem;
                    margin-top: 3rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 0.80em;
                     }
                 .major img{
                    width: 200px;}
                .major iframe{
                    width: 210px;
                    height: 125px;
                }
                .img9z{
                    grid-area: img9z;
                }
               .vid9z{
                grid-area: vid9z;
               }
               .noticia1{ 
                grid-area: noticia1; }
            
                .major{
            
                display:grid;
                grid-template-columns: 2fr 2fr;
                grid-template-rows: 20% ;
                 grid-template-areas: 
                    "img9z vid9z"
                    "noticia1 noticia1";
                    grid-row-gap: 5px;
                    grid-column-gap: 10px;
                
                }
            .luken img{width: 200px;}
            .noticia2{
                grid-area: noticia2;
            }
            .imgluken1{
                grid-area: imgluken1 ;
            }
            .imgluken2{
                grid-area: imgluken2;
            }   

            .luken{
                display: grid;
                grid-template-columns: 2fr 2fr;
                grid-template-rows: 20%;
                grid-template-areas: "noticia2 noticia2"
                "imgluken1 imgluken2";
                grid-row-gap: 5px;
                grid-column-gap: 10px;
                 }
                 .footer{    color: aliceblue;
                    background-color:black;
                    text-align: center;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    font-size: 0.8em;
                    
                 }
            
         }

         /* INFORMACION */

         @media only screen and (max-width: 480px){
            .menu{
                font-family: 'Times New Roman', Times, serif;
                font-size: 0.8em;
                margin: 1rem;
                display: flex ;
                list-style: none;
                justify-content: space-around ; 
                align-items: center;} 

                main{
                   margin: 2rem;
                    margin-top: 3rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 0.80em;    }


      .fran img{
        width: 150px;
      }

      .titulo1{
        grid-area: titulo1;
      }
      .titulo2{
        grid-area: titulo2;

      }
      .informacion{
        grid-area: informacion;
      }
      .creacion{
        grid-area: creacion;

      }
      .imgfran1{
        grid-area: imgfran1;
      }
      .imgfran2{
        grid-area: imgfran2;
      }
      .fran{
        display: grid;
        grid-template-areas: "imgfran1 imgfran2";
        align-items: center; 
        grid-row-gap: 5px;
        grid-column-gap: 10px;
      }
              
        }
                        
         

        
         



    
    footer{
    color: aliceblue;
    background-color:black;
    padding: 2rem;
    margin: 0rem;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    }
